obj/project.assets.json
obj/project.nuget.cache
obj/service.csproj.EntityFrameworkCore.targets
obj/service.csproj.nuget.dgspec.json
obj/service.csproj.nuget.g.props
obj/service.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/service
obj/Debug/netcoreapp3.1/service.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/service.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/service.assets.cache
obj/Debug/netcoreapp3.1/service.csproj.CopyComplete
obj/Debug/netcoreapp3.1/service.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/service.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/service.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/service.dll
obj/Debug/netcoreapp3.1/service.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/service.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/service.pdb
obj/Debug/netcoreapp3.1/service.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/service.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/service.StaticWebAssets.xml
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/service
obj/Release/netcoreapp3.1/service.AssemblyInfo.cs
obj/Release/netcoreapp3.1/service.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/service.assets.cache
obj/Release/netcoreapp3.1/service.csproj.CopyComplete
obj/Release/netcoreapp3.1/service.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/service.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/service.csprojAssemblyReference.cache
obj/Release/netcoreapp3.1/service.dll
obj/Release/netcoreapp3.1/service.genruntimeconfig.cache
obj/Release/netcoreapp3.1/service.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.1/service.pdb
obj/Release/netcoreapp3.1/service.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.1/staticwebassets/service.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/staticwebassets/service.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/service
bin/Debug/netcoreapp3.1/service.deps.json
bin/Debug/netcoreapp3.1/service.dll
bin/Debug/netcoreapp3.1/service.pdb
bin/Debug/netcoreapp3.1/service.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/service.runtimeconfig.json
bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netcoreapp3.1/System.Text.Json.dll
bin/Debug/netcoreapp3.1/Controllers/jsonfotos.json
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/appsettings.Development.json
bin/Release/netcoreapp3.1/appsettings.json
bin/Release/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Release/netcoreapp3.1/Microsoft.Data.Sqlite.dll
bin/Release/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Release/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Release/netcoreapp3.1/service
bin/Release/netcoreapp3.1/service.deps.json
bin/Release/netcoreapp3.1/service.dll
bin/Release/netcoreapp3.1/service.pdb
bin/Release/netcoreapp3.1/service.runtimeconfig.dev.json
bin/Release/netcoreapp3.1/service.runtimeconfig.json
bin/Release/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
bin/Release/netcoreapp3.1/SQLitePCLRaw.core.dll
bin/Release/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
bin/Release/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Release/netcoreapp3.1/System.Collections.Immutable.dll
bin/Release/netcoreapp3.1/System.ComponentModel.Annotations.dll
bin/Release/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Release/netcoreapp3.1/System.Text.Json.dll
bin/Release/netcoreapp3.1/Controllers/jsonfotos.json
bin/Release/netcoreapp3.1/Properties/launchSettings.json
bin/Release/netcoreapp3.1/publish/appsettings.Development.json
bin/Release/netcoreapp3.1/publish/appsettings.json
bin/Release/netcoreapp3.1/publish/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Bcl.HashCode.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Data.Sqlite.dll
bin/Release/netcoreapp3.1/publish/Microsoft.DotNet.PlatformAbstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.EntityFrameworkCore.dll
bin/Release/netcoreapp3.1/publish/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/netcoreapp3.1/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Caching.Abstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Caching.Memory.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Configuration.Binder.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Configuration.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.DependencyInjection.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.DependencyModel.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Logging.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Options.dll
bin/Release/netcoreapp3.1/publish/Microsoft.Extensions.Primitives.dll
bin/Release/netcoreapp3.1/publish/service
bin/Release/netcoreapp3.1/publish/service.deps.json
bin/Release/netcoreapp3.1/publish/service.dll
bin/Release/netcoreapp3.1/publish/service.pdb
bin/Release/netcoreapp3.1/publish/service.runtimeconfig.json
bin/Release/netcoreapp3.1/publish/SQLitePCLRaw.batteries_v2.dll
bin/Release/netcoreapp3.1/publish/SQLitePCLRaw.core.dll
bin/Release/netcoreapp3.1/publish/SQLitePCLRaw.nativelibrary.dll
bin/Release/netcoreapp3.1/publish/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Release/netcoreapp3.1/publish/System.Collections.Immutable.dll
bin/Release/netcoreapp3.1/publish/System.ComponentModel.Annotations.dll
bin/Release/netcoreapp3.1/publish/System.Diagnostics.DiagnosticSource.dll
bin/Release/netcoreapp3.1/publish/System.Text.Json.dll
bin/Release/netcoreapp3.1/publish/web.config
bin/Release/netcoreapp3.1/publish/Controllers/jsonfotos.json
bin/Release/netcoreapp3.1/publish/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-arm/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-armel/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/linux-x86/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Release/netcoreapp3.1/publish/runtimes/win-arm/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/publish/runtimes/win-arm64/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/publish/runtimes/win-x64/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/publish/runtimes/win-x86/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
bin/Release/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Release/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
bin/Release/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
